
<mat-toolbar class="introduction">
<h1>

  <p> Welcome to SpaceXtra! </p>


<div class="headerButtons">
<button>Home</button>
<button>About Us</button>
<button>Login</button>
<button>Admin</button>
</div>

</h1>
</mat-toolbar>




<!-- on the header
home,  about us, log in/log out

Home will select destination, then hotel/room, then transport

about us will have board and founder info

log in log out page will allow creation of new accounts and
eventually entry and exit of existing accounts
 -->
