




<mat-grid-list class="destinations">

  <mat-grid-tile>Tile 1 </mat-grid-tile>
  <mat-grid-tile>Tile 2 </mat-grid-tile>
  <mat-grid-tile>Tile 3 </mat-grid-tile>
  <mat-grid-tile>Tile 4 </mat-grid-tile>

</mat-grid-list>





<!-- twilio https://freetts.com/ joanna and kendra voices. and uk voice brian.
will need to login to use website and choose and pay for vacation.
picking destination, hotels, price bundles, space flights and rooms.
planets and locations on planets. fun names! select cool pics. sound effects?
concierge with cool voice?
choose plenet, then destination/hotel/room, then choose transport.

serve a price to be paid.

once "paid", will serve confirmation number and log the price paid and the confirmation
token to firebase backend.

will keep track on admin panel of chosen destinations transport choices, and revenue streams.

board of directorsx funny pics, about us founder is elond musk in iron man suit
login page home page

then a travel now option that will take you to destination and play either video or walkthrough
like zen garden idea, -->





